//colors layout
$white: #fff;
$black: #000;
$darkgrey: #3F454D;
$link_color: $black;



//nav colors
$nav_main_background_color: $darkgrey;
$nav_hover_color: #f44336;
$nav_assortment_border_color: #F0F0F0;
$nav_assortment_shadow_color: #BEBEBE;

//header colors
$header_background_color: #2196F3;
$logo_color: $white;

//home colors
$cart_border: #F0F0F0;
$shopping_cart_color: #2196F3;
$button_hover_color: #2196F3;
$description_text_color: #A1A1A1;

//footer
$footer_background_color: $darkgrey;
$link_hover_color: #2196F3;